@charset "UTF-8";
@media (max-width: 767px) { .fon22 { font-size: 18px; }
  .fon20 { font-size: 16px; }
  .fon18 { font-size: 14px; }
  .fon16 { font-size: 13px; }
  .fon14 { font-size: 12px; }
  .w50 { width: 100%; }
  .padding120 { padding-top: 70px; }
  .max640 { padding: 0 15px; }
  #_banner .banner-txt1 { font-size: 20px; }
  #_banner .banner-txt2 { font-size: 25px; padding-bottom: 20px; margin-bottom: 20px; }
  #_banner .banner-arrow { bottom: 80px; left: auto; transform: translateX(0); }
  #_about h2, #_menber h2 { font-size: 25px; }
  #_about .flex-about, #_menber .flex-about { margin-bottom: 20px; }
  #_about .about-video, #_menber .about-video { padding: 15px 15px; }
  #_about .play-icon, #_menber .play-icon { width: 50px; }
  #_about .about-video-text, #_menber .about-video-text { position: static; width: 100%; padding: 15px; }
  #_about .about-desc, #_menber .about-desc { padding: 15px 0; }
  #_about .play-icon, #_menber .play-icon { top: 50%; }
  #_about .btn-group, #_menber .btn-group { text-align: center; }
  #_item .item-ani { flex-wrap: wrap; }
  #_item .paddingt65 { padding-top: 65px; height: 100%; }
  #_item .item { width: 50%; }
  #_item .item:hover { width: 50%; }
  #_item .item-more { bottom: 20px; top: auto; font-size: 13px; }
  #_item .item-title { font-size: 20px; padding-top: 0; }
  #_menber .icon { width: 35px; }
  #_menber .padding40 { padding: 15px; }
  #_menber .cn { font-size: 14px; }
  #_menber .en { font-size: 12px; }
  #_menber .menber-flex li { padding: 5px 0; width: 49%; }
  #_menber .marginauto { margin: 20px auto; display: block; }
  #_menber .menber-bg { padding-top: 70px; }
  #_news { padding-top: 70px; background-size: cover; }
  #_news h2 { padding: 25px 0; font-size: 25px; line-height: 1; }
  #_news .btn-next-prev { padding: 25px 0; }
  #_news .btn-next-prev a { color: #fff; border-color: #fff; }
  #_news .title { font-size: 18px; }
  #_news .new-desc { padding: 10px; }
  #_news .margint10 { margin-top: 10px; padding-bottom: 20px; }
  #_news .btn-group a { border-color: #fff; color: #fff; }
  footer { padding: 20px 0; }
  footer .contact { flex-shrink: 0; }
  footer .link-box { width: 100%; }
  footer .footer-flex { justify-content: space-between; flex-wrap: nowrap; }
  footer .f-title { font-size: 16px; }
  footer .f-line p { padding: 3px 0 3px 20px; font-size: 12px; }
  footer .f-btn { margin: 10px 0 0 0; }
  /*nav*/
  .header { background: rgba(255, 255, 255, 0.8); }
  .header .logo2 { display: block; }
  .header .logo1 { display: none; }
  .nav-btn { width: 35px; }
  .header { height: 65px; }
  .margin100 { margin-top: 75px !important; }
  .hamburger .line { width: 35px; height: 3px; background-color: #0a5281; display: block; margin: 8px auto; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .hamburger:hover { cursor: pointer; }
  #nav-btn { position: relative; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  #nav-btn.is-active { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
  #nav-btn:before { content: ""; position: absolute; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 36px; height: 36px; border: 5px solid transparent; top: calc(50% - 18px); left: calc(50% - 18px); border-radius: 100%; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  #nav-btn.is-active:before { border: 2px solid #0a5281; }
  #nav-btn.is-active .line { width: 17px; background: #0a5281; }
  #nav-btn.is-active .line:nth-child(2) { opacity: 0; }
  #nav-btn.is-active .line:nth-child(1) { -webkit-transform: translateY(13px); -ms-transform: translateY(13px); -o-transform: translateY(13px); transform: translateY(13px); }
  #nav-btn.is-active .line:nth-child(3) { -webkit-transform: translateY(-9px) rotate(90deg); -ms-transform: translateY(-9px) rotate(90deg); -o-transform: translateY(-9px) rotate(90deg); transform: translateY(-9px) rotate(90deg); }
  /*nav-mobile*/
  .nav-btn { position: fixed; z-index: 3; right: 20px; top: 10px; }
  .nav-mobile.active { transform: translate(0); }
  .nav-mobile { position: fixed; width: 100%; height: 100%; background: #0a5281; color: #999; left: 0; top: 0; padding-top: 65px; z-index: 2; transform: translateX(100%); transition: .2s linear all; }
  .nav-mobile a { color: #fff; }
  .nav-mobile li:first-child { border-top: 1px solid rgba(224, 208, 208, 0.3); }
  .nav-mobile .nav-top { line-height: 50px; border-bottom: 1px solid rgba(224, 208, 208, 0.3); padding-left: 15px; }
  .nav-mobile li span { display: block; width: 40px; text-align: center; float: right; border-left: 1px solid rgba(255, 255, 255, 0.1); cursor: pointer; }
  dl { font-size: 14px; }
  dl dd { line-height: 40px; }
  dl dd a { padding-left: 25px; display: block; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .nav-mobile .btn-search { background: url(../images/search-icon.png) no-repeat center; border: 0; font-size: 0; width: 30px; height: 30px; }
  .nav-mobile .search-txt { background: none; border: 0; border-bottom: 1px solid #fff; width: calc(100% - 60px); outline: none; color: #fff; border-radius: 0; }
  .nav-mobile .search-form { border-bottom-color: rgba(224, 208, 208, 0.3); }
  .nav-mobile .phone-search { display: flex; width: 100%; margin: 15px 0; padding: 15px 0 15px 15px; background: none; }
  .search-close { line-height: 30px; color: #fff; font-size: 20px; }
  .flex-nav { position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: #0a5281; padding-top: 60px; z-index: 2; transition: .3s linear all; overflow-y: auto; transform: translateX(100%); }
  .flex-nav a { color: #fff; }
  .flex-nav dt { padding: 0 0 0 20px; line-height: 45px; border-bottom: 1px solid #1872ae; }
  .flex-nav dd { display: none; }
  .flex-nav dd .text-center { text-align: left; padding: 0 0 0 40px; }
  .flex-nav dd li { line-height: 35px; border-bottom: 1px solid #1872ae; }
  .flex-nav li a { padding-left: 40px; }
  .flex-nav .show-menu { width: 45px; height: 45px; line-height: 45px; text-align: center; color: #fff; border-left: 1px solid #1872ae; cursor: pointer; }
  .flex-nav li ul { padding-left: 15px; display: none; }
  .trd { width: 45px; text-align: center; border-left: 1px solid #1872ae; }
  .flex-nav.active { transform: translate(0); }
  /*end nav*/
  .header .logo { width: 100px; }
  /*内页*/
  .fon30 { font-size: 20px; }
  .fon20 { font-size: 14px; }
  .margin-b40 { margin-bottom: 15px; }
  .ny-banner { padding-top: 65px; }
  /*内页*/
  .ny-container { flex-wrap: wrap; margin-top: 0; padding-left: 0; padding-right: 0; }
  .ny-container .slider { padding: 0; width: 100%; margin-top: 20px; box-shadow: 0 0 0 rgba(255, 255, 255, 0.1); display: none; }
  .ny-container .slider h2 { font-size: 23px; padding-left: 15px; }
  .ny-container .slider h3::before { display: none; }
  .ny-container .slider .slider-list { width: 100%; overflow-x: auto; overflow-y: hidden; display: none; }
  .ny-container .slider .slider-list li { display: inline-block; flex-shrink: 0; }
  .ny-container .slider .slider-list li a { padding: 10px 15px 10px 25px; margin-left: 5px; }
  .ny-container .slider .slider-list li dl { position: absolute; background: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .ny-container .slider .slider-list li.active dl { display: none; }
  .ny-container .main-con { padding: 20px 15px; width: 100%; margin-top: 0; z-index: 1; }
  .ny-container .main-con h3 { font-size: 20px; }
  .ny-container .main-con .menu { padding-bottom: 10px; margin-bottom: 10px; }
  .ny-container::before { display: none; }
  .ny-container::after { display: none; }
  .ganyu-item h3 { font-size: 16px; margin-top: 15px; margin-bottom: 15px; }
  .ganyu-item .p-dot::after { top: 7px; }
  .ganyu-item .pading60 { padding: 0 20px; }
  /*内页*/
  .ny-container .main-con h3::before { display: none; }
  .new-list1 li { margin-top: 30px; }
  .new-list1 .new-img { width: 100%; background: #eee; }
  .new-list1 .new-con { width: 100%; padding: 10px; }
  .new-list1 .new-con h4 { font-size: 14px; font-weight: normal; }
  .new-list1 .date { padding: 10px 0; margin-bottom: 10px; }
  .new-list1 .news-desc { margin-bottom: 10px; }
  .menber-item .ny-container { margin-left: 35px; }
  .menber-item .ny-container .main-con { padding-left: 25px; padding-top: 0; }
  .margin-t { margin-top: 30px !important; }
  .menber-item h1 { padding-left: 30px; font-size: 1.6em; }
  .menber-item .dots { width: 50px; height: 50px; left: -20%; top: -12%; }
  .menber-item .dots .num { font-size: 20px; }
  .menber-item .margin-b60 { margin-bottom: 60px; }
  .menber-item .dots .eng { font-size: 12px; }
  .menber-item .fon25 { font-size: 18px; }
  .menber-item .lines { padding: 0 0 10px 0; margin-bottom: 10px; }
  .menber-item .eng { display: none; }
  .menber-list li { margin-top: 25px; width: 22%; }
  .menber-list li:nth-child(4n)::after, .menber-list li:nth-child(4n)::before { display: none; }
  .menber-list .number { font-size: 14px; line-height: 1; }
  .menber-list .menber-tit { font-size: 12px; }
  .team-img-item { margin-top: 30px; }
  .team-img-item li { width: 100%; margin-bottom: 30px; }
  .team-img-item li:last-child { margin-bottom: 0; }
  .team-list2 li { width: 100%; }
  .main-con-news .new-date-list li { margin: 0 5px; }
  .main-con-newsd h4 { font-size: 16px; padding: 10px 0; }
  /*flex2*/
  .flex2 li { width: 100%; } }
